Завантажте датасет і збережіть його у *.CSV форматі.
Рекомендовані вимоги до набору даних:
Наявність кількох стовпців числового формату.
Як мінімум один категоріальний стовпець (тип "category" або "object").
Якщо набір містить більше 1000 рядків, скопіюйте перших 1000 рядків для
подальшої роботи.

In [152]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

1. Завантаження даних
Завантажте обраний dataset у Python за допомогою Pandas.
Переконайтесь, що дані успішно завантажені та відображаються коректно.

In [153]:
df = pd.read_csv("./datasets/Most popular 1000 Youtube videos.csv")

2. Розвідувальний аналіз даних (EDA)
Ознайомтесь з даними:

Опишіть змінні, їх типи та статистичні характеристики 
(середнє значення, медіана, стандартне відхилення тощо).
Візуалізуйте дані за допомогою гістограм.
Виявлення проблем:

Відсутні значення:
Якщо відсутніх значень немає, видаліть випадковим чином 1% значень
для числових стовпців, імплементувавши для цього окрему функцію в межах відповідного класу.
Викиди (outliers):
Якщо викидів немає, додайте декілька викидів у числовий стовпець
(за допомогою спеціальної функції в класі).
Категоріальні змінні:
Якщо категоріальних стовпців немає, додайте такий стовпець та заповніть
його значеннями на основі аналізу інших стовпців.

In [154]:
df.shape

(1000, 7)

In [155]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rank         1000 non-null   int64
 1   Video        1000 non-null   object
 2   Video views  1000 non-null   object
 3   Likes        1000 non-null   object
 4   Dislikes     527 non-null    object
 5   Category     982 non-null    object
 6   published    1000 non-null   int64
dtypes: int64(2), object(5)
memory usage: 54.8+ KB

In [156]:
df.describe()

              rank    published
count  1000.000000  1000.000000
mean    500.500000  2019.100000
std     288.819436     5.384328
min       1.000000  2005.000000
25%     250.750000  2017.000000
50%     500.500000  2021.000000
75%     750.250000  2024.000000
max    1000.000000  2025.000000

In [157]:
df['Video views'] = df['Video views'].str.replace(',', '').astype(float)
df['Likes'] = df['Likes'].str.replace(',', '').astype(float)
df['Dislikes'] = df['Dislikes'].str.replace(',', '').astype(float)

In [158]:
missing_values = df.isnull().sum()

In [159]:
missing_values

rank             0
Video            0
Video views      0
Likes            0
Dislikes       473
Category        18
published        0
dtype: int64

3. Обробка відсутніх значень
Оберіть стратегію обробки відсутніх значень:
Видалення
Заповнення середнім, медіаною або модою
Обґрунтуйте свій вибір.
Реалізуйте обрану стратегію за допомогою Pandas.

In [160]:
df['Dislikes'] = df['Dislikes'].fillna(df['Dislikes'].median())

In [161]:
missing_values = df.isnull().sum()

In [162]:
missing_values

rank            0
Video           0
Video views     0
Likes           0
Dislikes        0
Category       18
published       0
dtype: int64

4. Кодування категоріальних змінних
Оберіть метод кодування:
One-hot encoding
Label encoding
Обґрунтуйте свій вибір.
Реалізуйте обраний метод за допомогою Pandas.

In [163]:
df_encoded = pd.get_dummies(df, columns=['Category'])

In [164]:
df_encoded

,rank,Video,Video views,Likes,Dislikes,published,Category_Autos & Vehicles,Category_Comedy,Category_Education,Category_Entertainment,...,Category_Gaming,Category_Howto & Style,Category_Music,Category_News & Politics,Category_Nonprofits & Activism,Category_People & Blogs,Category_Pets & Animals,Category_Science & Technology,Category_Sports,Category_Travel & Events
0,1,Lil Nas X - Old Town Road (Official Movie) ft....,5.407168e+07,3497955.0,78799.0,2019,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
1,2,"20 Tennis shots if they were not filmed, NOBOD...",3.471237e+06,19023.0,859.0,2017,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,3,JoJo Siwa - Karma (Official Video),3.420675e+07,293563.0,477.0,2024,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
3,4,David Kushner - Daylight (Official Music Video),1.855839e+07,680732.0,477.0,2023,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
4,5,Wiz Khalifa - See You Again ft. Charlie Puth [...,6.547981e+09,44428537.0,477.0,2015,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,New Champ Kayn/Rhaast Leak for LOL (Moobeat cr...,8.472490e+05,1857.0,173.0,2017,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
996,997,Ford Mustang Launch (street),1.001605e+06,2214.0,27.0,2008,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
997,998,Eminem is gay - The Interview,2.718939e+06,43492.0,0.0,2014,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
998,999,Yakuza OST - Baka Mitai (ばかみたい) Kiryu full ver...,5.289099e+07,850425.0,0.0,2017,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
999,1000,What a Twist #memes #shorts #movie,1.163734e+07,938043.0,477.0,2024,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False

In [165]:
from sklearn.preprocessing import StandardScaler

# Choosing StandardScaler because:
# - It standardizes features by removing the mean and scaling to unit variance.
# - It's effective when data has different scales and follows a normal distribution.
# - Works well with many machine learning algorithms like regression and clustering.

# Selecting numerical columns for scaling
numeric_cols = ['Video views', 'Likes', 'Dislikes', 'published']

# Applying StandardScaler
scaler = StandardScaler()
df_encoded[numeric_cols] = scaler.fit_transform(df_encoded[numeric_cols])

In [166]:
df_encoded

,rank,Video,Video views,Likes,Dislikes,published,Category_Autos & Vehicles,Category_Comedy,Category_Education,Category_Entertainment,...,Category_Gaming,Category_Howto & Style,Category_Music,Category_News & Politics,Category_Nonprofits & Activism,Category_People & Blogs,Category_Pets & Animals,Category_Science & Technology,Category_Sports,Category_Travel & Events
0,1,Lil Nas X - Old Town Road (Official Movie) ft....,0.117617,1.921530,10.953841,-0.018582,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
1,2,"20 Tennis shots if they were not filmed, NOBOD...",-0.083873,-0.214615,-0.083622,-0.390216,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,3,JoJo Siwa - Karma (Official Video),0.038515,-0.046041,-0.137718,0.910504,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
3,4,David Kushner - Daylight (Official Music Video),-0.023796,0.191690,-0.137718,0.724687,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
4,5,Wiz Khalifa - See You Again ft. Charlie Puth [...,25.976233,27.053847,-0.137718,-0.761850,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,New Champ Kayn/Rhaast Leak for LOL (Moobeat cr...,-0.094322,-0.225155,-0.180769,-0.390216,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
996,997,Ford Mustang Launch (street),-0.093707,-0.224936,-0.201445,-2.062570,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
997,998,Eminem is gay - The Interview,-0.086869,-0.199590,-0.205269,-0.947667,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
998,999,Yakuza OST - Baka Mitai (ばかみたい) Kiryu full ver...,0.112916,0.295885,-0.205269,-0.390216,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
999,1000,What a Twist #memes #shorts #movie,-0.051356,0.349685,-0.137718,0.910504,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False

6. Розділення даних на навчальний та тестовий набір
Розділіть дані у співвідношенні 80/20 або 70/30.
Загальні рекомендації:
Створіть класи для кожного етапу обробки даних:
Клас для завантаження даних.
Клас для обробки відсутніх значень.
Клас для кодування категоріальних змінних тощо.
Кожен клас повинен містити методи для виконання відповідних операцій.
Використовуйте ООП для організації коду та підвищення його читабельності та
масштабованості.


Завдання ч.2 (додаткове)
По аналогії до функції process_data_titanic
(де кожен клас працює з вихідною таблицею, а зміни не накопичуються)
імплементувати універсальний метод process_data_custom,
у якому зміни повинні накопичуватися.
Ця функція повинна використовувати методи класів для обробки
довільного набору даних.
Якщо немає числових або категоріальних стовпців, імплементуйте
функціонал для їх автоматичного додавання.
Формат звіту:
Звіт повинен містити:

Код програми на Python із коментарями та обґрунтуваннями.

In [ ]:
from sklearn.model_selection import train_test_split
from typing import Literal

class DataLoader:
    """Class to load and prepare the dataset."""
    def __init__(self, file_path):
        self.df = pd.read_csv(file_path)
    
    def get_data(self):
        return self.df

class MissingValuesHandler:
    """Class to handle missing values in the dataset."""
    def __init__(self, dataframe):
        self.df = dataframe

    def fill_missing_values(self, col: str, fill_type: Literal["median", "mode"]) -> None:
        """Fill missing values using appropriate strategies."""
        if fill_type == "median":
            self.df[col].fillna(self.df[col].median())
        elif fill_type == "mode":
            self.df['Category'].fillna(self.df['Category'].mode()[0])

    def get_data(self):
        return self.df


class CategoricalEncoder:
    """Class to encode categorical variables."""
    def __init__(self, dataframe):
        self.df = dataframe

    def encode_categories(self, col):
        """Apply one-hot encoding to categorical variables."""
        self.df = pd.get_dummies(self.df, columns=[col])

    def get_data(self):
        return self.df


class FeatureScaler:
    """Class to scale numerical features."""
    def __init__(self, dataframe):
        self.df = dataframe

    def apply_scaling(self, numeric_cols):
        """Apply StandardScaler to numerical features."""
        scaler = StandardScaler()
        self.df[numeric_cols] = scaler.fit_transform(self.df[numeric_cols])

    def get_data(self):

        return self.df


class DataSplitter:
    """Class to split data into training and test sets."""
    def __init__(self, dataframe, test_size=0.2):
        self.df = dataframe
        self.test_size = test_size

    def split_data(self, target_col, drop_cols):
        """Split the dataset into training and testing sets."""
        X = self.df.drop(columns=drop_cols)
        y = self.df[target_col]
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=self.test_size, random_state=42)

        return X_train, X_test, y_train, y_test

class DataProcessor:
    """Class to process data using multiple transformations."""
    def __init__(self, file_path):
        self.data_loader = DataLoader(file_path)
        self.df = self.data_loader.get_data()

    def process_data(self):
        """Apply all processing steps sequentially."""
        missing_handler = MissingValuesHandler(self.df)
        missing_handler.fill_missing_values()
        self.df = missing_handler.get_data()

        encoder = CategoricalEncoder(self.df)
        encoder.encode_categories()
        self.df = encoder.get_data()

        scaler = FeatureScaler(self.df)
        scaler.apply_scaling()
        self.df = scaler.get_data()

        splitter = DataSplitter(self.df, test_size=0.2)
        X_train, X_test, y_train, y_test = splitter.split_data()

        return X_train, X_test, y_train, y_test

processor = DataProcessor("./datasets/Most popular 1000 Youtube videos.csv")
X_train, X_test, y_train, y_test = processor.process_data()

TypeError: MissingValuesHandler.fill_missing_values() missing 2 required positional arguments: 'col' and 'fill_type'

In [ ]:
(X_train, X_test, y_train, y_test)